.quik-chat-btn {
  width: 65px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d7d7d7;
  border-radius: 5px 0 0 5px;
  margin-right: -3px;
  background-color: #f8f8f8;
  cursor: pointer;
}
